version: "3.9"

services:
  apt-cacher:
    image: sameersbn/apt-cacher-ng:latest
    container_name: apt-cache
    ports:
      - "3142:3142"
    volumes:
      - ./generated/apt:/var/cache/apt-cacher-ng
    restart: unless-stopped
